.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#form{
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 34rem;
  background-color: lightslategray;
  padding-top: 2rem;
  border-radius: 16px;
}

#metros{
  width: 12rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
}
#habitaciones{
  width: 15rem;
  margin-bottom: 1rem;
}
#banios{
  width: 12rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
}
#estado{
  width: 15rem;
  margin-bottom: 1rem;
}
#fecha{
  width: 12rem;
  margin-bottom: 1rem;
}

#checkBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#checkBox input{
  margin-right: 1rem;
}

#boton:hover{
  color: black;
  background-color: white;
  margin-bottom: 2rem;
}
#boton{
  color: white;
  background-color: black;
  margin-bottom: 2rem;
}