.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: antiquewhite;
}

.respuestas {
  width: 100%;
  /* margin-bottom: 5rem; */
}

.botones{
  color: #8b3e1d;
  font-weight: bold;
  background-color: #FEAE4B;
  border: #8b3e1d solid 1px;
  margin: 5px;
}
.botones:hover{
  color: #FEAE4B;;
  font-weight: bold;
  background-color: #8b3e1d;
  border: #FEAE4B solid 1px;
}
.botones:active{
  background-color: rgb(196, 142, 110);
}
.pregunta{
  color: #FEAE4B;
  background-color: #CE5A29;
  border: #FEAE4B solid 1px;
  border-radius: 24px;
  /* margin-bottom: 3rem; */
  padding: 2rem;
}